@import '_variables';

.button {
  @apply inline-flex justify-center items-center;
  @apply font-bold text-sm;
  position: relative;

  width: 188px;
  height: 46px;
  line-height: 46px;

  .arrow {
    position: absolute;
    right: 16px;
  }

  outline: none;
}

@each $key, $color in $colors {
  .#{$key} {
    color: colors('black');
    filter: drop-shadow(0px 5px 25px rgba($color, 0.6));

    .arrow {
      transition: all 0.5s;
      path {
        stroke: colors('black');
      }
    }

    transition: all 0.5s;
    &::before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: all 0.3s;
    }
    &::before {
      background-color: $color;
    }
    &::after {
      opacity: 0;
      border: 2px solid rgba($color, 0.6);
      transform: scale(1.2, 1.2);
    }
    &:hover,
    &:active,
    &:focus {
      color: colors('white');
      .arrow {
        path {
          stroke: colors('white');
        }
      }
      &::before {
        opacity: 0;
        transform: scale(0.5, 0.5);
      }
      &::after {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
}
