@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Archivo', sans-serif;
  font-weight: normal;

  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .border-16 {
    border-width: 16px;
  }

  .h-screen {
    height: calc($vh * 100);
  }

  @each $num in (100, 80, 60, 40, 20, 10) {
    .h-screen-#{$num} {
      height: #{$num}vh;
    }
  }

  .transition-height {
    transition-property: height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }
}
