@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Archivo;
  font-weight: normal;

  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .border-16 {
    border-width: 16px;
  }

  @each $num in (80, 60, 40, 20, 10) {
    .h-screen-#{$num} {
      height: #{$num}vh;
    }
  }
}
